<div class="editPropertyPanel">
    <table class="ui-editTable">
        <tr>
            <td><span>标题</span></td>
            <td>
                <input type="text" ng-model="preModel.title"/>
            </td>
        </tr>
        <tr>
            <td><span>字体大小</span></td>
            <td>
                <input type="text" ng-model="preModel.fontSize" class="ui-edit-textbox1"/>
            </td>
        </tr>
        <tr>
            <td><span>字体颜色</span></td>
            <td>
                <input type="color" ng-model="preModel.color" class="ui-edit-textbox1"/>
            </td>
        </tr>
    </table>
</div>