<div id="rightPanel" style=" width:168px;">
    <!--<div id="rightListFrame" class="ListFrame rightListFrame rightIndent" ng-click="autoHide()"></div>-->
    <div id="rightMenu" class="rightMenu" ng-show="show">
        <ul id="rightTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tab4" role="tab" data-toggle="tab">控件</a>
            </li>
            <li role="presentation">
                <a href="#tab5" role="tab" data-toggle="tab">布局</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab4">
                <div ng-repeat="item in controls">
                    <a data-toggle="collapse" href="#{{item.id}}" aria-expanded="true" class><i class="fa fa-minus-square"></i><span ng-bind="item.title" ></span></a>
                    <div id="{{item.id}}" class="controls collapse in" aria-expanded="true">
                        <div ng-repeat="control in item.controls"  on-drop-success="dropSuccessHandler($event)" ui-draggable="true" drop-channel="zone1,zone2,zone3" drag="control">
                            <!--<i class="fa fa-arrows zone-drag-handle"></i>-->
                            <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                                <img class="chartItemImg" src="{{control.icon}}" title="{{control.title}}"/>
                                <div class="chartItemTitle" ng-bind="control.title"></div>
                                <!--<span class="caret"></span>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li ng-repeat="zone in scenario.zones"><a href="javascript:;" ng-click="updateZone()" ng-bind="zone.id"></a></li>-->

                            <!--</ul>-->

                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab5">
                    <ul>
                        <li class="layoutsItem" ng-repeat="layout in scenario.layouts">
                            <a ng-click="changePageLayout()">
                                <img src="{{layout.icon}}" title="{{layout.title}}" />
                                <div class="layoutsItemTitle" ng-bind="layout.title"></div>
                            </a>
                        </li>
                    </ul>
            </div>

        </div>

    </div>
    
</div>