<div class="login">
<script type="text/javascript">
    window.location.href = "/pages/index.html";
</script>
    <!--<div class="ui-left">-->

    <!--</div>-->
    <!--<div class="ui-right">-->
        <!--<h5>Login</h5>-->
        <!--<h4><strong>可视通</strong></h4>-->
        <!--<h2>可视化系统编辑器</h2>-->
        <!--<h2 class="bottom"></h2>-->
        <!--<div class="form">-->
            <!--<form role="form" name="loginForm" ng-submit="login(loginForm.$valid)" novalidate class="form-horizontal">-->
                <!--<table>-->
                    <!--<tr>-->
                        <!--<td>用户名</td>-->
                        <!--<td>-->
                            <!--<input type="email" ng-model="model.emailID" name="emailID" placeholder="用户名" required />-->
                        <!--</td>-->
                        <!--<td rowspan="2" style="width: 190px;">-->
                            <!--<input class="submit" ng-disabled="loginForm.$invalid" type="submit" value="登录" />-->
                            <!--<input class="submit" type="button"  value="注册" ng-click="register()">-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>密　码</td>-->
                        <!--<td>-->
                            <!--<input type="password" ng-model="model.passwordStr" name="passwordStr" placeholder="密码" required />-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</form>-->
        <!--</div>-->
        <!--<h6>Copyright</h6>-->
    <!--</div>-->


</div>

