<div class="register">
    <div class="ui-right">
        <h5>Register</h5>
        <div class="form">
            <form role="form" name="regForm" ng-submit="register(regForm.$invalid)" novalidate class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2">
                        <label> 用户名</label>
                    </div>
                    <div class="col-md-10">
                        <input type="email" ng-model="model.emailID" name="emailID" placeholder="用户名" required />
                        <span class="glyphicon glyphicon-ok"
                              ng-show="regForm.emailID.$error.email">
                            用户名必须是一个有效的邮箱地址
                        </span>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <label> 姓名</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" ng-model="model.userName" name="userName" placeholder="姓名" ng-minlength="2" ng-maxlength="4" ng-pattern="/[^x00-xff]/" required />
                        <span class="glyphicon glyphicon-ok"
                              ng-show="regForm.userName.$error.pattern">
                            姓名是2-4个中文汉字
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <label> 性别：</label>
                    </div>
                    <div class="col-md-10">
                        <input type="radio" ng-model="model.sex" name="sex" value="1" checked="checked" ng-checked="true" /> 男
                        <input type="radio" ng-model="model.sex" name="sex" value="0" /> 女
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label> 公司名称</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" ng-model="model.company" name="company" placeholder="公司名称" ng-maxlength="100" required />
                        <span class="glyphicon glyphicon-ok"
                              ng-show="regForm.company.$error.maxlength">
                            姓名长度必须小于100个字符！
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <label> 职位</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" ng-model="model.post" name="post" placeholder="职位" ng-maxlength="10" required />
                        <span class="glyphicon glyphicon-ok"
                              ng-show="regForm.post.$error.maxlength">
                            职位长度必须小于10个字符！
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <label> 行业</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" ng-model="model.trade" name="trade" placeholder="行业" ng-maxlength="10" required />
                        <span class="glyphicon glyphicon-ok"
                              ng-show="regForm.trade.$error.maxlength">
                            职位长度必须小于10个字符！
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <label> 联系电话</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" ng-model="model.telphone" name="telphone" placeholder="联系电话" ng-pattern="/((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)/" required />
                        <span class="glyphicon glyphicon-ok"
                              ng-show="regForm.telphone.$error.pattern">
                            输入有效的联系电话
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <label> 密码：</label>
                    </div>
                    <div class="col-md-10">
                        <input type="password" ng-model="model.password" name="password" placeholder="密码" ng-minlength="8" required />
                        <span class="glyphicon glyphicon-ok"
                              ng-show="regForm.password.$error.minlength">
                            密码长度必须大于8个字符！
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <label> 重复密码：</label>
                    </div>
                    <div class="col-md-10">
                        <input type="password" ng-model="model.confirmPassWord" name="confirmPassWord" placeholder="重复密码" required compare-to="regForm.password"/>
                        <!--<span class="glyphicon glyphicon-ok"
                              ng-show="regForm.confirmPassWord.$error.required">
                            输入重复密码-->
                        <span class="glyphicon glyphicon-ok"
                              ng-show="regForm.confirmPassWord.$error.compareTo">
                            两次密码不一致！
                        </span>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <a href="#/login" style="color: #fff;">返回登录</a>
                        <input class="submit" ng-disabled="regForm.$invalid" type="submit" value="注册" />

                    </div>

                </div>
            </form>

        </div>


    </div>
</div>